openapi: 3.0.4
info:
  contact: { }
  description: KubeVirt Service Provider API
  title: KubeVirt Service Provider API
  version: v1alpha1
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: /api/v1alpha1

paths:
  /health:
    get:
      summary: Health check
      operationId: getHealth
      description: Health check for KubeVirt Service Provider API
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'

components:
  schemas:
    Health:
      type: object
      description: Health status singleton resource
      x-aep-resource:
        singular: health
        plural: healths
        singleton: true
        type: serviceprovider.dcm.io/health
        patterns:
          - health
      properties:
        status:
          type: string
          description: Health status
          example: "ok"
        path:
          type: string
          description: Canonical path of the resource
          readOnly: true